.cardDiscoverSongInfo {
  background-color: #43245c;
  height: auto;
  width: 250px;
  padding: 10px;
  text-align: left;
}

.badge {
  margin-right: 2%;
  background-color: #c7bbd0;
  color: black;
}
