.cardDiscoverCountryInfo {
  background-color: #c7bbd0;
  color: black;
  height: auto;
  width: 250px;
  padding: 10px;
}

.badge {
  margin-right: 2%;
  background-color: #c7bbd0;
  color: black;
}
